<a href="https://colab.research.google.com/github/jcmachicaocuf/programacion/blob/main/ejemplo_exec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [4]:
# Exploración básica del dataset
print(df.shape)
print(df.columns)
print(df.info())

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
# Definir la consulta como una cadena de texto
query = """
# Seleccionar las columnas 'Survived', 'Pclass', 'Sex', 'Age', 'Fare'
selected_data = df[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]

# Mostrar las primeras filas del resultado
print(selected_data.head())

# Calcular el promedio de edad de los sobrevivientes
avg_age_survived = selected_data[selected_data['Survived'] == 1]['Age'].mean()
print(f"Edad promedio de sobrevivientes: {avg_age_survived:.2f}")

# Calcular el número de sobrevivientes por clase
survivors_by_class = selected_data.groupby('Pclass')['Survived'].sum()
print("\\nSobrevivientes por clase:")
print(survivors_by_class)
"""

# Ejecutar la consulta usando exec()
exec(query)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500
Edad promedio de sobrevivientes: 28.34

Sobrevivientes por clase:
Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [5]:
query2 = """
# prompt: quiero filtrar df data solo para pasajeros mayores a 30 años

df_mayores_30 = df[df['Age'] > 30]
print(df_mayores_30.head())
"""
exec(query2)

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S